body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
	height: 100vh;
	overflow: hidden;
	display: flex;
}

.container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 0;
}
.nav {
	--bs-link-color: rgba(255, 255, 255, .7);
	--bs-link-hover-color: #fff;
}

.nav-pills {
	--bs-nav-pills-border-radius: 0.375rem;
	--bs-nav-pills-link-active-color: #27ae61;
	--bs-nav-pills-link-active-bg: white;
}
