@model dragonchau.Models.Medicine

<div class="form-group">
	<div class="col-md-4 position-relative">
		<input type="text" id="searchMedicine" name="searchMedicine" class="form-control" placeholder="Nhập thuốc" />
		<ul id="medicineResults" class="list-group position-absolute"></ul>
	</div>
</div>
<input type="hidden" class="selected-medicine" name="selected-medicine" />

