@{
	ViewBag.Title = "Home Page";
}

<div id="overview" class="content-section active">
	<div class="results-table">
		<h2>Kết Quả Doanh Thu</h2>
		<table>
			<tr>
				<td class="card revenue">
					<img src="https://cdn-icons-png.flaticon.com/128/1267/1267419.png" alt="Doanh Thu">
					<div class="card-content">
						<h3>Doanh Thu</h3>
						<p>251,120,000 VND</p>
					</div>
				</td>
				<td class="card new-orders">
					<img src="https://cdn-icons-png.flaticon.com/128/10608/10608883.png" alt="Đơn Hàng Mới">
					<div class="card-content">
						<h3>Đơn Hàng Mới</h3>
						<p><span class="highlight">(3)</span></p>
					</div>
				</td>
			</tr>
		</table>
	</div>

</div>
